.democlass {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.thClass {
    background-color: dodgerblue;
    padding: 8px;
    border: 1px solid blue;
}

.tdClass {
    padding: 8px;
    background-color: lightgreen;
    border: 1px solid cyan;
}

.Input {
    width: 15%;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid black;
    margin-bottom: 12px;
    margin-right: 20px;
}

.Texts{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}