.formatlist{
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 30px;
    width: 150px;
    padding: 20px;
    margin-top: 5px;
    text-align: center;
}

#Names{
    width: 220px;
    height: 700px;
}

.formatblock{
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 30px;
    width: 190px;
    margin-top: 20px;
    padding-bottom: 7px;
    height: 80px;
    margin-right: 20px;
    text-align: center;
    float: left;
    background-color: aqua;
    color: brown;
}

#Blocks{
    margin-left: 330px;
    margin-top: -700px;
}